{% extends 'base.html.twig' %}

{% block title 'Nouvel événement - Admin | BDE-CESI' %}

{% block body %}
    <h1>Créer un nouvel événement</h1>

    <div class="form">
        {{ form_start(form) }}
            {% include("admin/events/_form.html.twig") %}
            <button type="submit" class="contained"><i class="material-icons">add</i> AJOUTER</button>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/form.js') }}"></script>
{% endblock %}