<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/flex.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/form.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <div>
                <nav>
                    <ul>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                    </ul>
                </nav>
            </div>
            <div class="row align_center">
                {% if app.user %}
                {% else %}
                    <a href="" class="header">INSCRIPTION</a>
                    <a href="" class="header contained">CONNECTION</a>
                {% endif %}
            </div>
        </header>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        <footer>

        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
