<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <div>
                <nav>
                    <ul>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                    </ul>
                </nav>
            </div>
            <div></div>
        </header>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        <footer>

        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
