{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hello world</h1>
    <p>J'en profite pour poser mes couilles :<br>
    - Pas de footer de plus de 50%<br>
    - Pas d'outline<br>
    Voilà c'est tout pour moi xD</p>
{% endblock %}