<div class="cookie">
    <p>Ce site utilise des cookies, en poursuivant votre navigation su ce dernier vous acceptez l'utilisation de
        cookies, vous trouverer plus d'info dans nos <a href="{{ path('legal.cgu') }}">CGU</a>. Le site utilise des
        cookies pour sauvegarder le panier dans la partie e-commerce du site.</p>
</div>

