{% extends 'base.html.twig' %}

{% block title 'Nouvelle catégorie d\'événement - Admin | BDE-CESI ' %}

{% block body %}
    <h1>Nouvelle catégorie d'événements</h1>
    <div class="form">
        {{ form_start(form) }}
        <div class="group off">{{ form_row(form.event_type_name) }}</div>
        <button type="submit" class="contained">CRÉER LA CATÉGORIE</button>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/form.js') }}"></script>
{% endblock %}