{% extends 'base.html.twig' %}

{% block title 'Les catégories de produits - Admin | BDE-CESI' %}

{% block body %}
    <div class="row justify_between">
        <h1>Les catégories des produits</h1>

        <a href="{{ path('admin.merch.type.add') }}" class="contained_no-width"><i class="material-icons">add</i>
            AJOUTER UNE CATÉGORIE</a>
    </div>

    <div class="tabOverflowContainer">
    <table class="admin_list">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody class="type">
            {% for type in types %}
                <tr class="admin-style">
                    <td>{{ type.Id }}</td>
                    <td>{{ type.productTypeName }}</td>
                    <td class="button-container"><a href="{{ path('admin.merch.type.edit', {id: type.id}) }}">Edit</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
