{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <a href="{{ path('admin.merch.product') }}">product List</a>
    </div>
    <div>
        <a href="{{ path('admin.merch.type.index') }}">productType List</a>
    </div>
    <div>
        <a href="{{ path('admin.merch.command.index') }}">command List</a>

    </div>

{% endblock %}